@{
    ViewData["Title"] = "Home Page";
}

@* <div class="left-side" style="width: 500px"> </div> <!-- Левая часть с изображением -->
 *@
<div class="right-side">
    <div class="text-center">
        <h1 class="WelcomeText">Welcome To My Project</h1>
        <h1 class="WelcomeText">I'M Artem Ukraincev</h1>
    </div>
</div>