@{
    ViewData["Title"] = "Home Page";
}

@* <div class="left-side" style="width: 500px"> </div> <!-- Левая часть с изображением -->
 *@
<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1 class="display-4 fw-bold text-light mb-4">Welcome to Waveify</h1>
    <p class="text-light mb-5">Your modern project interface with a sleek design.</p>
    <button href="/GetStarted" class="crazybtn">Get Started</button>
</div>